h1,h2,h3,h4{
  text-align: center;
  font-family: 'Saira Extra Condensed', sans-serif;
}
h1{
  font-size: 50px;
  color: #304770;
}
h2{
  font-size: 40px;
  color: #304770;
}
h3{
  font-size: 30px;
  color: #304770;
}
h4{
  font-size: 20px;
  color: #304770;
}
body{
  margin : 0;
  font-family: 'Barlow', sans-serif;
  line-height: 25px;
  font-size : 19px;
  background-color: #DBEAF5;
  
}

hr{
  border: 4px solid #B3BCCB;
  width: 50%;
  margin : 0 auto;
}

p{
  width: 50%;
  margin : 30px auto;
  
}


.profile-image{
  width: 150px;
  height: 150px;
  border-radius: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.top-container{
  margin : 0;
  padding-top : 10px;
}
.experience{
  margin : 0;
  /* padding-bottom: 30px; */
}
.education{
  padding-bottom: 20px;

}
.projects{
  /* padding-bottom: 50px; */
}
.skills{
  /* padding-bottom: 50px; */

}
.interests{
  /* padding-top : 30px; */
}
.bottom-container{
  background-color: #A1C7E6;
  height: 100px;
  text-align: center;
  padding-top: 10px;
  padding-bottom : 40px;


}
.item-list{
  width : 50%;
  margin : auto;
  line-height: 30px;
}

.contact-me {
  
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Barlow', sans-serif;
	font-size:19px;
	padding:21px 53px;
	text-decoration:none;
}
.contact-me:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.contact-me:active {
	position:relative;
	top:1px;
}
.btn-contact{
  text-align: center;
  margin-top : 50px;
  margin-bottom : 50px;
}

.interests{
  padding-top: 30px;
  padding-bottom: 30px;
}
.job-title{
  background-color: #A0ABBE;
  padding: 5px;
}
.job-date{
  background-color: #A1C7E6;
  padding: 5px;

}

.study-level{
  background-color: #A0ABBE;
  padding: 5px;
}
.study-period{
  background-color: #A1C7E6;
  padding: 5px;
}
.emphasize{
  background-color: #A1C7E6;
  padding: 5px;
}
.separator{
  border-top: 4px dotted #B3BCCB;
  border-bottom : 0;
  border-left : 0;
  border-right : 0;
  width :70px;
  margin-top : 30px;
}

